/* === Global === */
body {
  font-family: "Inter", sans-serif;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333333;
}

/* === Main Container === */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* biarkan tetap stretch */
  justify-content: flex-start;
  /* mulai dari atas */
}

.main-screen-container {
  overflow: auto;
}

#main-screen {
  margin: auto;
  min-width: 200px;
  max-width: 100%;
  /* biar nggak overflow */
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  /* penting kalau img/video */
}

.main-content {
  height: 100vh;
}

/* === Thumbnails === */
.video-thumbnails {
  overflow-x: auto;
  padding: 5px;
}
.video-thumbnails::-webkit-scrollbar {
  display: none;
}

.video-wrapper {
  min-width: 120px;
  max-width: 160px;
  background: #374151;
  border-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 5px;
}

.video-wrapper video {
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  cursor: pointer;
}

.video-controls {
  padding: 2px 10px;
  color: #ffffff;
  font-size: 12px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
/* === Control Bar === */
.control-bar {
  flex: 0 0 auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
}
.control-bar button {
  height: auto;
  min-height: 32px;
  line-height: 1.2;
  padding: 4px 4px;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.9;
  color: #3a3a3a;
  border: none;
}
.control-bar button .fa::before {
  opacity: 0.5;
}
.control-bar button:hover {
  background-color: transparent;
}
.control-bar button:hover .fa::before {
  opacity: 0.6;
}
.control-bar button:disabled {
  cursor: not-allowed;
}
.control-bar button.status-sharing {
  color: #185383;
}
.control-bar button.status-sharing .fa::before {
  opacity: 1;
  animation: blink 1s infinite;
}
.control-bar button.muted {
  position: relative;
}
.control-bar button.muted .fa::after {
  content: "";
  display: block;
  width: 2px;
  height: 16px;
  top: 6px;
  left: 9px;
  transform: rotate(45deg);
  background-color: red;
  opacity: 0.8;
  position: absolute;
}

.btn-danger {
  background-color: #dc2626;
}
.btn-danger:hover {
  background-color: #b91c1c;
}

/* === Chat Panel === */
.chat-panel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.chat-panel .chat-box-container {
  padding: 0px;
  overflow-y: auto;
  font-size: 0.875rem;
  height: calc(100vh - 80px);
  box-sizing: border-box;
}
.chat-panel .chat-box input[type=text] {
  color: #1e1e1e;
}
.chat-panel .chat-input-area {
  border-top: 1px solid #d1d1d1;
  padding: 0.5rem 0 0.5rem 0.5rem;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FFFFFF;
}
.chat-panel .chat-input-area textarea {
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
  color: #1e1e1e;
  width: calc(100% - 80px);
  vertical-align: bottom;
  resize: none;
  font-family: inherit;
  font-size: 0.9rem;
}
.chat-panel .chat-input-area textarea:focus-visible {
  outline: none;
}
.chat-panel .chat-input-area button {
  padding: 0.2rem 0.5rem;
  min-width: 30px;
  background: #b9b9b9;
  border-radius: 3px;
  vertical-align: bottom;
}
.chat-panel .chat-input-area button:hover {
  background: #1e40af;
}

/* === Root Container === */
.root-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.root-container .left-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  width: calc(15% - 10px);
  box-sizing: border-box;
  border-right: 1px solid #dddddd;
  background-color: #fbfbfb;
}
.root-container .left-panel h3 {
  background-color: #ccc;
  margin: 0 0 0px 0;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: normal;
}
.root-container .left-panel ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.root-container .left-panel ul li {
  margin-bottom: 10px;
}
.root-container .left-panel ul li a {
  background-color: #EEEEEE;
  border-radius: 3px;
  display: block;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.root-container .main-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  width: calc(70% - 5px);
  box-sizing: border-box;
  background-color: #fbfbfb;
}
.root-container .right-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: calc(15% - 5px);
  box-sizing: border-box;
  border-left: 1px solid #dddddd;
  background-color: #fbfbfb;
}
.root-container .resize-bar-vertical {
  cursor: col-resize;
  background-color: #fafafa;
  width: 5px;
  position: relative;
  height: 100vh;
  z-index: 100;
}
.root-container .resize-bar-vertical::before, .root-container .resize-bar-vertical::after {
  content: "";
  width: 0;
  height: 20px;
  background-color: #ccc;
  position: absolute;
  top: calc(50% - 10px);
}
.root-container .resize-bar-vertical::before {
  left: 1px;
  border-left: 1px solid #cccccc;
}
.root-container .resize-bar-vertical::after {
  right: 1px;
  border-right: 1px solid #cccccc;
}
.root-container .resize-bar-horizontal {
  height: 5px;
  cursor: row-resize;
  width: 100%;
  position: relative;
}
.root-container .resize-bar-horizontal::before, .root-container .resize-bar-horizontal::after {
  content: "";
  width: 20px;
  height: 0px;
  background-color: #ccc;
  position: absolute;
  left: calc(50% - 10px);
}
.root-container .resize-bar-horizontal::before {
  top: 1px;
  border-top: 1px solid #cccccc;
}
.root-container .resize-bar-horizontal::after {
  bottom: 1px;
  border-bottom: 1px solid #cccccc;
}
.root-container .top-panel {
  height: calc(100vh - 140px);
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}
.root-container .bottom-panel {
  height: 130px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.root-container .top-panel,
.root-container .bottom-panel {
  overflow: hidden;
}

/* === File Preview & Received Images === */
.send-file-preview,
.image-received {
  text-align: center;
}
.send-file-preview img,
.image-received img {
  max-width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

#video-container {
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.chat-container {
  margin: 5px 0;
  padding: 10px 10px;
}
.chat-container .chat-sender {
  font-weight: bold;
  padding: 0px 0px 5px 0px;
}
.chat-container .chat-content {
  background-color: #EEEEEE;
  border-radius: 3px;
  padding: 10px 10px;
  position: relative;
}
.chat-container .file-container {
  background-color: #EEEEEE;
  border-radius: 3px;
  padding: 10px 10px;
  position: relative;
}
.chat-container .file-container img {
  box-sizing: border-box;
}
.chat-container .file-name-container {
  white-space: nowrap;
  padding-top: 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.fullscreen-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #000000;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */